.breadcrumbs{
  padding: 18px 0; 
}
.breadcrumbs-list{
  display: flex;
  padding: 0;
  margin: 0;
}
.breadcrumbs-list__item{  
  font-size: 10px;
  &:not(:first-child){
    padding-left: 5px;  
  }
  &:hover{
    text-decoration: underline;
  }
  &::after{
    content: ' / ';
  }
  &:last-child:after{
    display: none;
  }
}
.breadcrumbs-list__item-link{  
  line-height: 13px;
  font-weight: 300;
}

.card-hotel-name__hotel{
  text-align: center;  
  @include media-breakpoint-up(md) {     
    text-align: left;  
  }  
}
.card-hotel-name{
  margin-top: 24px;
  margin-bottom: 20px;
}
.hotel-rating-stars{
  display: flex;  
  padding: 0;
  margin: 0; 
}
.card-hotel-rating__stars--size{
  justify-content: space-evenly;
  @include media-breakpoint-up(md) {     
    justify-content: flex-start;
  }
}
.hotel-rating-stars-item{
  display: inline-flex;
  padding: 5px 0;
}

.icon-retingstar{
  font-size: 6px;
  color: #f2994a;
  padding-right: 2px;    
}
.icon-retingstar--size{
  font-size: 14px;
  @include media-breakpoint-up(md) {     
    font-size: 6px;
  }
}
.card-hotel-name__hotel-wrap{ 
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  @include media-breakpoint-up(md) {     
    align-items: center;
    flex-direction: row;
  } 
}
.card-hotel-name__hotel-name{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase; 
  margin: 0;
}
.card-hotel-name__hotel-link{    
  display: none;
  @include media-breakpoint-up(md) {   
    display: inline-flex;  
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;  
    padding: 4px 6px;
    margin-left: 14px;
    width: auto;
  } 
}
.card-hotel-name__hotel-child{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #333;
  margin: 0;
}
.card-hotel-name__user-rattings{
  background: $primary-color;
  border-radius: 4px;  
  color: $wh-color;
  text-align: center;  
  margin-top: 22px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;  
  cursor: default;
  @include media-breakpoint-up(md) {     
    height: 45px;
    padding: 5px 5px;
  }   
}
.card-hotel-name__user-rattings-title{  
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 2px;
  @include media-breakpoint-up(md) {   
    font-size: 8px;
    line-height: 10px;
  }  
}
.current{
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.total{
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
}
.card-hotel-location{
  padding-bottom: 68px;
}
.card-hotel-location__slide{
  display: flex;
  position: relative;  
  border-radius: 8px 8px 0px 0px;  
  overflow: hidden;
  @include media-breakpoint-up(lg) {   
    border-radius: 8px;
  }  
}

.card-hotel-location__slide-gradient{
  display: flex;
  width: 100%;  
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;
    left: 0; 
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  }
}

.view-options{
  background-color: $secondary-color;
  border-radius: 0px 0px 8px 8px;
  padding: 28px;
  margin-bottom: 27px;
  @include media-breakpoint-up(lg) {   
    border-radius: 8px;
  }  
}
.view-options__price-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-options__price-col-1{
  display: inline-flex;
  flex-direction: column;
}
.view-options__price-title{
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.view-options__price-stats{
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.view-options__price-day{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.view-options__price-col-2{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 40px;
}
.view-options__price-guests{
  display: flex;
  justify-content: space-between;
}
.icon-user{
  color: $wh-color;
}
.view-options__price-guests-title{
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.view-options__price-room{
  display: flex;
  justify-content: space-between;
}
.icon-home{
  color: $wh-color;
}
.view-options__price-room-title{
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}


.view-options__price-title{
  color: $wh-color;
}
.view-options__price-stats{
  color: $wh-color;
}
.view-options__price-day{
  color: $wh-color;
}


.view-options__price-guests-title{
  color: $wh-color;
}
.view-options__price-room-title{
  color: $wh-color;
}
.view-options__booking{
  margin-top: 8px;
  margin-bottom: 13px;
}
.view-options__booking-wrap{
  display: flex;
  justify-content: space-between;
}
.view-options__booking-title{
  color: $wh-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.view-options__booking-call{
  display: flex;
  align-items: center;
}
.icon-phone{
  color: $wh-color;
  padding-right: 8px;
}
.view-options__booking-call-title{
  color: $wh-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.view-options__button{  
  padding: 13px;  
}
.iframe-map{
  display: flex;
}
.iframe-map__location{
  width: 100%;
  height: 213px;
  border-radius: 8px;  
}
/*-----------sec-2--------------*/
.hide{
  font-size: 0;
  margin: 0;
  padding: 0;
}
.package__body{
  margin-bottom: 40px;
}
.package__list{
  display: flex;
  flex-direction: column;    
  align-items: center; 
  @include media-breakpoint-up(md) { 
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.package__list-item{
  display: flex;
}
.package__list-item-link{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: inherit;
  transition: border-bottom ease 0.3s color ease-in-out 0.3s;
  &:hover{
    border-bottom: 4px solid $primary-color;
    color: $primary-color;
  }
}
.package__list-item-link--active{
  border-bottom: 4px solid $primary-color;
  color: $primary-color;
}

.package-summery__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 28px;
  text-align: center;
  @include media-breakpoint-up(md) { 
    text-align: left;
  }
}
.package-summery-title{
  margin: 0;
  padding: 16px 24px;
  border-radius: 6px 6px 0px 0px;
  background-color: $secondary-color;
  color: $wh-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  @include media-breakpoint-up(md) { 
    text-align: left;
  }
}
.package-summery__body{
  padding: 7px 25px 27px 25px;  
  min-height: 150px;
  background-color: $wh-color;
  display: flex;
  margin-bottom: 30px;
  @include media-breakpoint-up(lg) {   
    margin-bottom: 0px;  
    min-height: 244px;
  }
  @include media-breakpoint-up(xl) { 
    min-height: 150px;
  }
}
.package-summery__list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.package-summery__list-item{  
  display: flex;  
  padding-top: 22px;
  &:before{
    content: '\e902';    
    font-family: 'icomoon' !important;    
    width: 16px;
    height: 16px;
    font-size: 8px;
    background: $secondary-color;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 20px;
  }  
}
.package-summery__list-wrap{
  display: flex;
  padding-top: 22px;
  &:before{
    content: '\e900';    
    font-family: 'icomoon' !important;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-right: 20px;
  }
}

.package-summery__list-item-wrap{  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.package-summery__list-item-txt{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 180px;
}

.package-summery-details{
  margin: 0; 
  @include media-breakpoint-up(lg) { 
    margin-top: 34px;
    margin-bottom: 65px;
  }
}
.package-summery-details__body{
  background-color: $wh-color;
  display: flex;
  flex-direction: column;
  padding: 38px 38px 0 ;  
  @include media-breakpoint-up(md) { 
    padding: 38px;  
  }  
  @include media-breakpoint-up(lg) { 
    padding: 38px 84px 58px 26px;  
  }  
}
.package-summery-details__body-section{
  display: flex;
  flex-direction: column;
  min-width: 252px;
  margin-bottom: 28px;  
  @include media-breakpoint-up(md) { 
    margin-bottom: 20px;  
  }
  @include media-breakpoint-up(xl) { 
    margin-bottom: 0px;  
  }
}
.package-summery-details__body-section-title{
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: $primary-color;
  margin: 0;
}
.package-summery-details__body-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  &:first-child{
    padding-bottom: 20px;
  }
  @include media-breakpoint-up(lg) {
    &:first-child{
      padding-bottom: 48px;
    }
  }
  @include media-breakpoint-up(xl) { 
    &:first-child{
      padding-bottom: 78px;
    }
  }
}
.package-summery-details__list-item{
  display: flex;  
  padding-top: 22px;
  align-items: center;  
  &:before{
    content: '\e902';    
    font-family: 'icomoon' !important;    
    width: 15px;
    height: 15px;
    font-size: 8px;
    background: $secondary-color;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 20px;
  }  
}
.package-summery-details__list-item-txt{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333;
}

/*-----------sec-3--------------*/

.other-package{  
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) { 
    padding-bottom: 35px;
  }
}
.other-package-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px;  
  margin: 0;
  @include media-breakpoint-up(lg) { 
    padding-top: 0px;
  }
  @include media-breakpoint-up(xl) { 
    padding-top: 40px;    
    padding-bottom: 65px; 
  }
}
.other-package-wrap{
  display: flex; 
}
.other-package-hotel{
  background-color: $secondary-color;
  border-radius: 8px;
  margin-bottom: 30px;
}
.other-package-hotel--active{
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {     
    flex-direction: row;
  }
}
.other-package-hotel__img{
  position: relative;
  display: flex;
  width: 100%;
}
.other-package-hotel__img-gradient{
  display: flex;
  width: 100%;
  @include media-breakpoint-up(md) {     
    max-width: initial;
    width: auto;
  }
  @include media-breakpoint-up(lg) {     
    max-width: 100%;
  }
}
.hotel-img{
  width: 100%;
}
.other-package-hotel__img-gradient-img{
  width: 100%;
  @include media-breakpoint-up(md) {     
    max-width: initial;
    width: auto;
  }
  @include media-breakpoint-up(lg) {     
    max-width: 100%;
  }
}

.other-package-hotel__btn{
  position: absolute;
  z-index: 2;
  top: 26px;
  left: 0;
}
.other-package-hotel__btn-link{
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  padding: 4px 9px;
  border-radius: 0px 4px 4px 0px;
  color: $wh-color;
  width: auto;
}
.other-package-hotel__btn-link--active{
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 12px;
}
.other-package-hotel__wrap{
  display: flex;
  justify-content: space-between;  
  @include media-breakpoint-up(lg) {     
    width: 530px;
  }
  @include media-breakpoint-up(xl) {     
    width: 100%;
  }
  
}
.other-package-hotel__desc{  
  padding: 30px 22px 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.other-package-hotel__desc-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $wh-color;
  padding-bottom: 6px;
  margin: 0;
}
.other-package-hotel__desc-txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $wh-color; 
  text-align: justify;
  margin: 0;
}
.other-package-hotel__desc-list{
  padding-bottom: 28px;
}
.other-package-hotel__desc-list-item{
  padding-top: 8px;
}
.icon-locpin{
  color: $wh-color;  
}
.other-package-hotel__desc-list-item-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-left: 16px;
  color: $wh-color;
}
.other-package-hotel__desc-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other-package-hotel__desc-price{
  display: flex;
  flex-direction: column;
  position: relative;
}
.other-package-hotel__desc-price-discount{
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 2;
  color: $wh-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
}
.other-package-hotel__desc-price-total{
  color: $wh-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.other-package-hotel__desc-btn{
  padding: 12px 26px;
  width: auto;
}

/*-----------sec-4--------------*/

.arrow-btn{
  display: none;
}

.slide-people{
  padding-bottom: 40px;
  @include media-breakpoint-up(md) {     
    padding-bottom: 70px;
  }
}
.slide-people-wrap{
  display: flex;
  flex-direction: column;
  align-items: center; 
  @include media-breakpoint-up(md) {     
    position: relative;
  }
}
.slide-people-title{
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  padding-bottom: 100px;  
  text-align: center;
  margin-bottom: 0;
  @include media-breakpoint-up(lg) {     
    font-size: 36px;
    line-height: 45px;
    padding-top: 40px;
    padding-bottom: 115px;
  }
}
.slide-people-slider{
  display: flex;
  align-items: center;
  text-align: center;  
  background: white;
  padding: 132px 20px 30px;
  position: relative;
  @include media-breakpoint-up(md) {     
    margin-right: 10%;
    margin-left: 10%;
  }
  @include media-breakpoint-up(lg) {     
    margin-right: 18%;
    margin-left: 18%;
    padding: 132px 90px 30px;
  }
}
.slide-people-slider__content-profile{
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  z-index: 10;
}
.slide-people-user-foto{
  border-radius: 50%;
}
.slide-people-slider__content-profile-user-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-people-slider__content-profile-user-name{
  margin: 0;
  color: $primary-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 10px;

}
.slide-people-slider__content-profile-user-date{
  margin: 0;
  color: #333;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  padding-bottom: 5px;
}
.slide-people-slider__content-txt{
  text-align: justify;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #333;
  position: relative;
  z-index: 2;
}
.slide-people-arrow{
  display: flex;
  justify-content: space-between;
  margin-top: 30px; 
  @include media-breakpoint-up(md) {  
    margin-top: 0;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.slide-people-arrow__slide{
  margin-top: auto;
  margin-bottom: auto;  
}
.slide-people-arrow__slide-link{
  display: flex;
  padding: 20px;  
  transition: box-shadow ease-in-out 0.3s;
  border-radius: 8px;
  &:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
}
.slide-people-arrow__slide-link-left  {
  transform: rotate(90deg);
  font-size: 18px;  
}
.slide-people-arrow__slide-link-rigth {
  transform: rotate(270deg);
  font-size: 18px;
}
.icon-quotes {  
  color: #f2f2f2;
  font-size: 44px;
}
.slide-people-slider__content-quotes{
  position: absolute;
  display: flex;
  justify-content: space-between;  
  top: 114px;
  left: 64px;
  bottom: 62px;
  right: 60px;
  z-index: 1;
  @include media-breakpoint-up(md) {     
    top: 12px;    
    bottom: 114px;    
  }
}
.quotes-bottom{
  transform: rotate(180deg);
}

/*-----------sec-5--------------*/

.subs-section{
  padding-top: 45px;
  padding-bottom: 45px;  
  background-image: url("../img/bg/bg_1x.jpg");
  @include retina-background-image("../img/bg/bg", "webp", cover, 0%);  
  background-size: cover;
  @include media-breakpoint-up(sm) {     
    padding-top: 95px;
    padding-bottom: 90px; 
  }
}
.subs-section-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {     
    flex-direction: row;
  } 
}
.subs-section-title{
  display: flex;
  flex-direction: column;  
	margin-bottom: 30px;  
  @include media-breakpoint-up(md) {     
    padding-right: 40px; 
  }
  @include media-breakpoint-up(lg) {     
    padding-right: 140px; 
    margin: 0;
  }
}
.subs-section-title-sub{
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: $wh-color;
}
.subs-section-title-txt{
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: $wh-color;
}
.subs-section__email-form{
  display: flex;   
  max-width: 350px;
  flex-direction: column; 
  @include media-breakpoint-up(lg) {     
    flex-direction: row;
  }
}
.subs-section__email-form-input{
  background-color: $bg-color;
  border:none;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color:#bdbdbd;
  padding: 18px 32px;
  min-width: 285px;
  margin-bottom: 15px;
  @include media-breakpoint-up(lg) {     
    border-radius: 6px 0 0 6px;
    margin-bottom: 0px;
  }
}

.subs-section__email-form-button{
  background-color: $primary-color;
  border-radius: 6px;
  padding: 18px 16px;
  width: auto;
  @include media-breakpoint-up(lg) {     
    border-radius: 0px 6px 6px 0px;
  }
}

/*-----------sec-6--------------*/

.activities-section{
  margin-bottom: 25px;
	text-align: center;
  @include media-breakpoint-up(xl) {     
    margin-bottom: 100px;
    text-align: left;
  }
}
.activities-section-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;  
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  @include media-breakpoint-up(md) {     
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.activities-section-card{
  position: relative;
  border-radius: 6px;
  overflow: hidden;  
  margin-bottom: 25px;
  @include media-breakpoint-up(xl) {     
    margin-bottom: 0;
  }
}
.activities-section-card__img{
  display: flex;
  width: 100%;
}
.activities-section-card__img-inner{
  width: 100%;
}
.activities-section-card__inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 35%, #0A223D 100%);
  padding: 24px;
  @include media-breakpoint-up(md) {     
    align-items: flex-start;
  }
}
.activities-section-card__title{ 
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}
.activities-section-card__button{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 16px;
  width: auto;
  @include media-breakpoint-up(md) {     
    padding: 6px 22px;
  }
}