.breadcrumbs{
  padding: 18px 0; 
}
.breadcrumbs-list{
  display: flex;
  padding: 0;
  margin: 0;
}
.breadcrumbs-list__item{  
  font-size: 10px;
  &:not(:first-child){
    padding-left: 5px;  
  }
  &:hover{
    text-decoration: underline;
  }
  &::after{
    content: ' / ';
  }
  &:last-child{
    display: none;
  }
}
.breadcrumbs-list__item-link{  
  line-height: 13px;
  font-weight: 300;
}
.pading-rigth-5{
  padding-right: 5px;
}

.card-hotel-name{
  margin-top: 24px;
  margin-bottom: 20px;
}
.card-hotel-rating__stars{
  display: flex;
  padding: 0;
  margin: 0;
}
.icon-retingstar{
  font-size: 6px;
  color: #f2994a;
  padding-right: 2px;
}
.card-hotel-name__hotel-wrap{
  display: flex;
  align-items: center;
}
.card-hotel-name__hotel-name{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase; 
  margin: 0;
}
.card-hotel-name__hotel-link{    
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;  
  padding: 4px 6px;
  margin-left: 14px;
  width: auto;
}
.card-hotel-name__hotel-child{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #333;
  margin: 0;
}
.card-hotel-name__user-rattings{
  background: $primary-color;
  border-radius: 4px;  
  color: $wh-color;
  text-align: center;  
  margin-top: 22px;
  height: 45px;
  padding: 5px 5px;
  cursor: default;
}
.card-hotel-name__user-rattings-title{
  display: flex;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 2px;
}
.current{
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.total{
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
}
.card-hotel-location{
  padding-bottom: 68px;
}
.card-hotel-location__slide{
  position: relative;  
  border-radius: 8px;
  overflow: hidden;
  
}

.card-hotel-location__slide-gradient:before{
  content: '';
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 0;
  left: 0; 
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.view-options{
  background-color: $secondary-color;
  border-radius: 8px;  
  padding: 28px;
  margin-bottom: 27px;
}
.view-options__price-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-options__price-col-1{
  display: inline-flex;
  flex-direction: column;
}
.view-options__price-title{
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.view-options__price-stats{
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.view-options__price-day{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.view-options__price-col-2{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 40px;
}
.view-options__price-guests{
  display: flex;
  justify-content: space-between;
}
.icon-user{
  color: $wh-color;
}
.view-options__price-guests-title{
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.view-options__price-room{
  display: flex;
  justify-content: space-between;
}
.icon-home{
  color: $wh-color;
}
.view-options__price-room-title{
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}


.view-options__price-title{
  color: $wh-color;
}
.view-options__price-stats{
  color: $wh-color;
}
.view-options__price-day{
  color: $wh-color;
}


.view-options__price-guests-title{
  color: $wh-color;
}
.view-options__price-room-title{
  color: $wh-color;
}
.view-options__booking{
  margin-top: 10px;
  margin-bottom: 18px;
}
.view-options__booking-wrap{
  display: flex;
  justify-content: space-between;
}
.view-options__booking-title{
  color: $wh-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.view-options__booking-call{
  display: flex;
  align-items: center;
}
.icon-phone{
  color: $wh-color;
  padding-right: 8px;
}
.view-options__booking-call-title{
  color: $wh-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.view-options__button{  
  padding: 13px;  
}
.iframe-map__location{
  width: 100%;
  height: 213px;
  border-radius: 8px;  
}
/*-----------sec-2--------------*/

.package__body{
  margin-bottom: 40px;
}
.package__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.package__list-item-link{
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: inherit;
  transition: border-bottom ease 0.3s color ease-in-out 0.3s;
  &:hover{
    border-bottom: 4px solid $primary-color;
    color: $primary-color;
  }
}
.package__list-item-link--active{
  border-bottom: 4px solid $primary-color;
  color: $primary-color;
}

.package-summery__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.package-summery__title-higlights{
  margin: 0;
  padding: 16px 24px;
  border-radius: 6px 6px 0px 0px;
  background-color: $secondary-color;
  color: $wh-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.package-summery__body{
  padding: 7px 25px 27px 25px;  
  min-height: 150px;
  background-color: $wh-color;
  display: flex;
}
.package-summery__list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.package-summery__list-item{  
  display: flex;  
  padding-top: 22px;
  &:before{
    content: '\e902';    
    font-family: 'icomoon' !important;    
    width: 16px;
    height: 16px;
    font-size: 8px;
    background: $secondary-color;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 20px;
  }  
}
.package-summery__list-wrap{
  display: flex;
  padding-top: 22px;
  &:before{
    content: '\e900';    
    font-family: 'icomoon' !important;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-right: 20px;
  }
}

.package-summery__list-item-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.package-summery__list-item-txt{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 180px;
}

.package-summery-details{
  margin-top: 34px;
  margin-bottom: 65px;
}
.package-summery__body-details{
  background-color: $wh-color;
  display: flex;
  flex-direction: column;
  padding: 38px 84px 58px 26px;
}
.package-summery__body-details-section{
  display: flex;
  flex-direction: column;
  min-width: 240px;
}
.package-summery__body-section-title{
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: $primary-color;
  margin: 0;
}
.package-summery__body-details-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  &:first-child{
    padding-bottom: 78px;
  }
}
.package-summery__list-details-item{
  display: flex;  
  padding-top: 22px;
  align-items: center;
  &:before{
    content: '\e902';    
    font-family: 'icomoon' !important;    
    width: 15px;
    height: 15px;
    font-size: 8px;
    background: $secondary-color;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 20px;
  }  
}
.package-summery__list-details-item-txt{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333;
}

/*-----------sec-3--------------*/

.other-package{
  margin-bottom: 65px;
}
.other-package-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 65px;
}
.other-package-wrap{
  display: flex;
  &:last-child{
    margin-top: 30px;
  }
}
.other-package-hotel{
  background-color: $secondary-color;
  border-radius: 8px;
}
.other-package-hotel--active{
  display: flex;
}
.other-package-hotel__img{
  position: relative;
  width: 100%;
}
.other-package-hotel__btn{
  position: absolute;
  z-index: 2;
  top: 26px;
  left: 0;
}
.other-package-hotel__btn-link{
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  padding: 4px 9px;
  border-radius: 0px 4px 4px 0px;
  color: $wh-color;
  width: auto;
}
.other-package-hotel__btn-link--active{
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 12px;
}
.other-package-hotel__wrap{
  display: flex;
  justify-content: space-between;  
  width: 100%;
}
.other-package-hotel__desc{  
  padding: 30px 22px 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.other-package-hotel__desc-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $wh-color;
  padding-bottom: 6px;
  margin: 0;
}
.other-package-hotel__desc-txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $wh-color; 
  text-align: justify;
  margin: 0;
}
.other-package-hotel__desc-list{
  padding-bottom: 28px;
}
.other-package-hotel__desc-list-item{
  padding-top: 8px;
}
.icon-locpin{
  color: $wh-color;  
}
.other-package-hotel__desc-list-item-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-left: 16px;
  color: $wh-color;
}
.other-package-hotel__desc-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other-package-hotel__desc-price{
  display: flex;
  flex-direction: column;
  position: relative;
}
.other-package-hotel__desc-price-discount{
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 2;
  color: $wh-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
}
.other-package-hotel__desc-price-total{
  color: $wh-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.other-package-hotel__desc-btn{
  padding: 12px 26px;
  width: auto;
}