@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff2?71b3k7') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga"1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quotes:before {
  content: "\e911";  
}
.icon-calendar:before {
  content: "\e900";
}

.icon-cart:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e902";
}

.icon-down:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e904";
}

.icon-fb:before {
  content: "\e905";
}

.icon-gift:before {
  content: "\e906";
}

.icon-home:before {
  content: "\e907";
}

.icon-insta:before {
  content: "\e908";
}

.icon-locpin:before {
  content: "\e909";
}

.icon-phone:before {
  content: "\e90a";
}

.icon-search:before {
  content: "\e90b";
}

.icon-star:before {
  content: "\e90c";
}

.icon-user:before {
  content: "\e90d";
}

.icon-youtube:before {
  content: "\e90e";
}

.icon-retingstar:before {
  content: "\e90f";
}

.icon-menu:before {
  content: "\e9bd";
}